*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "roboto", sans-serif;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

h3 {
  font-size: 36px;
  font-weight: 900px;
  color: #1f2937;
  margin-top: 50px;
}

h4 {
  font-size: 25px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

.header-container {
  display: flex;
  min-height: 60px;
  background-color: #1f2937;
  color: #f9faf8;
  align-items: center;
  justify-content: center;
}

.header-content {
  display: flex;
  flex: 1;
  justify-content: space-between;
  max-width: 1150px;
  padding-left: 50px;
  padding-right: 50px;
}

.header-links {
  display: flex;
  list-style: none;
  font-size: 18px;
  gap: 20px;
}

.section-1-container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #1f2937;
}

.section-1-content {
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1150px;
  justify-content: space-between;
}

.section-1-left {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  max-width: 500px;
  gap: 10px;
}

.section-1-subtext {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 250;
}

.platypus {
  max-width: 500px;
}

.platypus-container {
  display: flex;
}

.button-1 {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 15px;
  font-weight: 600;
  height: 35px;
  width: 110px;
  border-radius: 5px;
  border: none;
  margin-right: auto;
  cursor: pointer;
}

.button-1:hover {
  background-color: rgb(255, 0, 43);
}

.section-2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-bottom: 100px;
}

.emu,
.kookaburra,
.kangaroo,
.echidna {
  height: 170px;
  border-radius: 12px;
  border: solid 3px #3882f6;
  width: fit-content;
}

.section-2-images {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.emu-container,
.kookaburra-container,
.kangaroo-container,
.echidna-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 170px;
  text-align: center;
  gap: 5px;
  color: rgba(0, 0, 0, 0.645);
}

.section-3-container {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.quote-container {
  display: flex;
  max-width: 850px;
  flex-direction: column;
}

.quote {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 1;
  font-style: italic;
  color: #1f2937;
}

.santa {
  margin-left: auto;
  margin-right: 20px;
  margin-top: 15px;
  font-size: 27px;
  font-weight: bold;
}

.section-4-container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-4-content {
  display: flex;
  flex: auto;
  color: #f9faf8;
  justify-content: center;
  background-color: #3882f6;
  max-width: 1150px;
  padding: 50px 100px;
  border-radius: 8px;
  gap: 30px;
}

.button-2 {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 15px;
  font-weight: 600;
  height: 35px;
  width: 110px;
  border-radius: 5px;
  border: #f9faf8 solid 2px;
  cursor: pointer;
  margin-left: auto;
}

.button-2:hover {
  background-color: rgb(255, 0, 43);
}
